__pycache__/
*.py[cod]
venv/
env/
.venv/
te
db.sqlite3
uploads/
staticfiles/
^X

electricity-374907-14faa175fc81.json

.env

.vscode/
.idea/

*.log
*/*.pyc
**/*.pyc
.git/
env/
*.pyc
staticfiles/
nltk_data/

